<div class="sidebar">

    <div class="logo">
        <h1>ErgoApp</h1>
        <h5>Versão 2.0</h5>
    </div>

    <div>

        <div class="dropdown dropdown-sidebar mb-3">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuAdmin" data-bs-toggle="dropdown"
                aria-expanded="false">
                Administrativo
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuAdmin">
                <li>
                    <!-- Criar ordem de serviço (restrito para Líderes Técnicos e acima) -->
                    <a class="dropdown-item" 
                        href="{% if request.user.profile.role != 4 and request.user.profile.role != 5 %}{% url 'criar_ordem_servico' %}{% endif %}"  
                        {% if request.user.profile.role == 4 or request.user.profile.role == 5 %} 
                            onclick="showTechPermissionAlert(); return false;" 
                        {% endif %}>
                        <i class="bi bi-pencil-square" style="margin-right: 4px;"></i>
                        Criar ordem de serviço
                    </a>
                </li>
                <li>
                    <!-- Faturamentos desbloqueados (restrito para Líderes Técnicos e acima) -->
                    <a class="dropdown-item" 
                        href="{% if request.user.profile.role != 4 and request.user.profile.role != 5 %}{% url 'financeiro' %}{% endif %}"  
                        {% if request.user.profile.role == 4 or request.user.profile.role == 5 %} 
                            onclick="showTechPermissionAlert(); return false;" 
                        {% endif %}>
                        <i class="bi bi-unlock" style="margin-right: 4px; font-weight: 600;"></i>
                        Faturamentos desbloqueados
                    </a>
                </li>
                <li></li>
                    <!-- Monitor de faturamentos (restrito para Líderes Técnicos e acima) -->
                    <a class="dropdown-item" 
                        href="{% if request.user.profile.role != 4 and request.user.profile.role != 5 %}{% url 'monitoramento_financeiro' %}{% endif %}"  
                        {% if request.user.profile.role == 4 or request.user.profile.role == 5 %} 
                            onclick="showTechPermissionAlert(); return false;" 
                        {% endif %}>
                        <i class="bi bi-graph-up" style="margin-right: 4px;"></i>
                        Monitor financeiro
                    </a>
                </li>
            </ul>
        </div>

        <div class="dropdown dropdown-sidebar mb-3">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuTech" data-bs-toggle="dropdown"
                aria-expanded="false">
                Área Técnica
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuTech">
                <li>
                    <!-- Líder Técnico (restrito para Líderes Técnicos e acima) -->
                    <a class="dropdown-item" 
                        href="{% if request.user.profile.role != 4 and request.user.profile.role != 5 %}{% url 'lider_tecnico' %}{% endif %}"  
                        {% if request.user.profile.role == 4 or request.user.profile.role == 5 %} 
                            onclick="showTechPermissionAlert(); return false;" 
                        {% endif %}>
                        <i class="bi bi-person-gear" style="margin-right: 4px;"></i>
                        Líder técnico
                    </a>
                </li>
                <li>
                    <!-- Técnico (restrito para Técnicos e Sub-Líderes Técnicos) -->
                    <a class="dropdown-item" 
                        href="{% if request.user.profile.role == 4 or request.user.profile.role == 5 %}{% url 'tecnico' %}{% endif %}" 
                        {% if request.user.profile.role == 1 or request.user.profile.role == 2 or request.user.profile.role == 3 %} 
                            onclick="showLeaderPermissionAlert(); return false;" 
                        {% endif %}>
                        <i class="fa-solid fa-helmet-safety" style="margin-right: 4px;"></i>
                        Técnico
                    </a>

                </li>   
                <li>
                    <!-- Técnico (restrito para Técnicos e Sub-Líderes Técnicos) -->
                    <a class="dropdown-item" 
                        href="{% if request.user.profile.role == 4 or request.user.profile.role == 5 %}{% url 'os_rapida' %}{% endif %}" 
                        {% if request.user.profile.role == 1 or request.user.profile.role == 2 or request.user.profile.role == 3 %} 
                            onclick="showLeaderPermissionAlert(); return false;" 
                        {% endif %}>
                        <i class="bi bi-lightning" style="margin-right: 4px;"></i>
                        OS Rápida
                    </a>
                </li>
                <li>
                    <!-- Criar OS Rápida (acesso liberado para todos os usuários) -->
                    <a class="dropdown-item" href="{% url 'criar_os_rapida' %}">
                        <i class="bi bi-pencil-square" style="margin-right: 4px;"></i>
                        Criar OS Rápida
                    </a>
                </li>
            </ul>
        </div>

        <a href="{% if request.user.profile.role != 4 and request.user.profile.role != 5 %}{% url 'clientes' %}{% endif %}"  
        {% if request.user.profile.role == 4 or request.user.profile.role == 5 %} 
            onclick="showTechPermissionAlert(); return false;" 
        {% endif %} style="color: #fff; font-size: 14px;">
            <i class="fas fa-user-plus"></i>
            Adicionar cliente
        </a>

        <a href="{% if request.user.profile.role != 4 and request.user.profile.role != 5 %}{% url 'repositorio' %}{% endif %}"  
        {% if request.user.profile.role == 4 or request.user.profile.role == 5 %} 
            onclick="showTechPermissionAlert(); return false;" 
        {% endif %} style="color: #fff; font-size: 14px;">
            <i class="fas fa-plus"></i>
            Adicionar serviço
        </a>

        <a href="{% url 'logout' %}" style="color: #fff; font-size: 14px;">
            <i class="fas fa-sign-out-alt" style="margin-right: 4px;"></i>
            Sair do sistema
        </a>

    </div>

</div>

<!-- Função JavaScript para mostrar alertas -->
<script>
    function showTechPermissionAlert() {
        alert("Você não tem permissão para acessar esta área.");
    }

    function showLeaderPermissionAlert() {
        alert("Atualmente, apenas usuários do tipo 'Técnico' podem acessar esta página, pois as informações são específicas ao trabalho dos técnicos. Estamos desenvolvendo uma solução que permitirá que você, como Líder ou Diretor, acompanhe o progresso das atividades dos colaboradores de forma mais detalhada.");
    }
</script>
