<div class="sidebar">


    <div class="logo">
        <h1>ErgoApp</h1>
        <h5>Versão 2.0</h5>
    </div>

    <div>

        <div class="dropdown  dropdown-sidebar mb-3">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                <!-- <i class="bi bi-table" style="margin-right: 4px;"></i> -->
                Administrativo
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a class="dropdown-item" href="{% url 'criar_ordem_servico' %}">
                        <i class="bi bi-pencil-square" style="margin-right: 4px;"></i>
                        Criar ordem de serviço
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'financeiro' %}">
                        <i class="bi bi-cash-coin" style="margin-right: 4px;"></i>
                        Financeiro
                    </a>
                </li>
            </ul>
        </div>

        <div class="dropdown dropdown-sidebar mb-3">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                <!-- <i class="fa-solid fa-helmet-safety" style="margin-right: 4px;"></i> -->
                Área Técnica
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a class="dropdown-item" href="{% url 'lider_tecnico' %}">
                        <i class="bi bi-person-gear" style="margin-right: 4px;"></i>
                        Líder técnico
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'tecnico' %}">
                        <i class="fa-solid fa-helmet-safety" style="margin-right: 4px;"></i>
                        Técnico
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'os_rapida' %}">
                        <i class="bi bi-lightning" style="margin-right: 4px;"></i>
                        OS Rápida
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'criar_os_rapida' %}">
                        <i class="bi bi-pencil-square" style="margin-right: 4px;"></i>
                        Criar OS Rápida
                    </a>
                </li>
            </ul>
        </div>

        <!-- <div class="dropdown dropdown-sidebar mb-3">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa-solid fa-users" style="margin-right: 4px;"></i>
                Clientes
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Cadastrar</a></li>
                <li><a class="dropdown-item" href="{% url 'clientes' %}">Ver clientes</a></li>
            </ul>
        </div>

        <div class="dropdown dropdown-sidebar mb-3">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa-solid fa-list" style="margin-right: 4px;"></i>
                Serviços
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Cadastrar</a></li>
                <li><a class="dropdown-item" href="#">Ver Serviços</a></li>
            </ul>
        </div> -->

        <a href="{% url 'logout' %}" style="color: #fff; font-size: 14px;">
            <i class="fas fa-sign-out-alt" style="margin-right: 4px;"></i>
            Sair do sistema
        </a>

    </div>

</div>