{% extends 'ordemServico/base.html' %}
{% load static %}
{% block title %} Líder Técnica {% endblock %}
{% block content %}

{% block styles %}
<style>
    .search-input {
        background-color: #F4F4F4 !important;
        padding: 10px !important;
        padding-left: 35px !important;
        background-image: url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.svg#search') !important;
        background-repeat: no-repeat !important;
        background-position: 10px center !important;
        background-size: 16px 16px !important;
    }

    .search-input::placeholder {
        font-style: italic !important;
    }
</style>
{% endblock %}

<div class="container content page-title mb-5">

    <h3 class="fs-5 ms-5 mb-3 mt-3">
        <i class="bi bi-person-gear" style="margin-right: 4px;"></i>
        Página do Líder Técnico
    </h3>

    <div class="px-5" style="display: flex; align-items: center;">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-file-earmark-plus"></i>
                        Novos: {{ qtd_novos_servicos }}
                    </h5>
                    <p class="card-text">
                        Acompanhe os serviços recém-criados que ainda não foram iniciados.
                    </p>
                    <button class="button px-3 py-1 mt-2 visualizar-btn" id="novos_servicos">
                        <i class="bi bi-eye-fill"></i>
                        Visualizar serviços
                    </button>
              </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-arrow-repeat"></i>
                        Em andamento: {{ qtd_servicos_em_andamento }}
                    </h5>
                    <p class="card-text">
                        Monitore os serviços que estão em execução.
                    </p>
                    <button class="button px-3 py-1 mt-2 visualizar-btn" id="em_andamento">
                        <i class="bi bi-eye-fill"></i>
                        Visualizar serviços
                    </button>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-hourglass-split"></i>
                        Para finalizar: {{ qtd_servicos_para_finalizar }}
                    </h5>
                    <p class="card-text">
                        Monitore os serviços que estão em execução.
                    </p>
                    <button class="button px-3 py-1 mt-2 visualizar-btn" id="para_finalizar">
                        <i class="bi bi-eye-fill"></i>
                        Visualizar serviços
                    </button>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-check-circle-fill"></i>
                        Finalizados: {{ qtd_servicos_finalizados }}
                    </h5>
                    <p class="card-text">
                        Veja os serviços que já foram concluídos com sucesso.
                    </p>
                    <button class="button px-3 py-1 mt-2 visualizar-btn" id="finalizados">
                        <i class="bi bi-eye-fill"></i>
                        Visualizar serviços
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="pesquisar px-5 mt-3">
        <form action="{% url 'financeiro' %}" method="get" style="flex: 1;">
            <div class="input-group mb-1">
                <span class="input-group-text" id="search-icon">
                    <i class="bi bi-search"></i>
                </span>
                <input 
                    type="text" id="searchInput" name="nome_empresa" class="form-control" 
                    placeholder="Pesquise pelo nome da empresa ou número da ordem de serviço..." value="{{ nome_empresa }}" 
                    style="padding: 10px; background-color: #F4F4F4;"
                >
            </div>
        </form>
    </div>

    <div class="container px-5 py-2 mt-3 d-flex" style="width: 100%; font-weight: bold;">
        <div class="d-flex justify-content-center align-items-center" style="width: 12.5%;">
            <p style="color: var(--cinza); font-size: 14px;">OS Nº</p>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="width: 50%;">
            <p style="color: var(--cinza); font-size: 14px;">NOME DO CLIENTE</p>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="width: 30%;">
            <p style="color: var(--cinza); font-size: 14px;">SERVIÇO</p>
        </div>
    </div>
    
    {% for servico in novos_servicos %}
    <div class="px-5 novos_servicos" style="display: block;">

        <div class="accordion mb-1" id="accordion-{{ servico.id }}">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-{{ servico.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-{{ servico.id }}" aria-expanded="false"
                        aria-controls="collapse-{{ servico.id }}">
                        <div class="acordeao d-flex" style="width: 100%;">
                            <div class="accordion-header-items flex-grow-1 d-flex justify-content-center align-items-center" style="border: none; width: 2.5%;">
                                <p style="font-size: 14px; ">{{ servico.ordem_servico.id }}</p>  
                            </div>
                            <div class="accordion-header-items flex-grow-2 d-flex justify-content-center align-items-center" style="border: none; width: 50%;">
                                <p style="font-size: 14px; font-weight: 400;">{{ servico.ordem_servico.cliente.nome|truncatechars:45 }}</p>  
                            </div>
                            <div class="accordion-header-items flex-grow-1 d-flex justify-content-center align-items-center" style="border: none; width: 30%;">
                                <p style="font-size: 14px; font-weight: 400;">{{ servico.repositorio|truncatechars:30 }}</p>                     
                            </div>
                        </div>
                    </button>
                </h2>

                <div id="collapse-{{ servico.id }}" class="accordion-collapse collapse"
                    aria-labelledby="heading-{{ servico.id }}" data-bs-parent="#accordion-{{ servico.id }}">
                    <div class="accordion-body">
                        <div class="accordion-infos">
                            <div class="row mb-4 mb-2">

                                <div class="row">
                                    <div class="col-md-8">
                                        <label class="form-label">Cliente:</label>
                                        <p>{{ servico.ordem_servico.cliente.nome|truncatechars:80 }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Número da inscrição:</label>
                                        <p>{{ servico.ordem_servico.cliente.numero_inscricao }}</p>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Nome do representante:</label>
                                        <p>{{ servico.ordem_servico.cliente.nome_representante|default_if_none:"Não cadastrado" }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Contato:</label>
                                        <p>{{ servico.ordem_servico.cliente.contato_representante|default_if_none:"Não cadastrado" }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">E-mail:</label>
                                        <p>{{ servico.ordem_servico.cliente.email_representante|default_if_none:"Não cadastrado" }}</p>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Serviço:</label>
                                        <p>{{ servico.repositorio|truncatechars:35 }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Valor:</label>
                                        <p> R$ {{ servico.ordem_servico.valor }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Data de recebimento:</label>
                                        <p>{{ servico.ordem_servico.data_criacao|date:"d/m/Y" }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4 mb-2"> 
                                <!-- Formulário de atualização de serviço -->
                                <form method="post" class="col-md-4">
                                    {% csrf_token %}
                                    <input type="hidden" name="servico_id" value="{{ servico.id }}">

                                    <div class="form-group">
                                        <label for="{{ formUpdate.status.id_for_label }}" class="mb-2">Status:</label>

                                        <div class="d-flex align-items-center">

                                            <select name="status" id="id_status" class="form-select w-100 p-2">
                                                <option value="nao_iniciado" {% if servico.status == 'nao_iniciado' %}selected{% endif %}>NÃO INICIADO</option>
                                                <option value="em_andamento" {% if servico.status == 'em_andamento' %}selected{% endif %}>EM ANDAMENTO</option>
                                                <!-- <option value="concluida" {% if servico.status == 'concluida' %}selected{% endif %}>CONCLUÍDA</option> -->
                                            </select>
                                            <button class="btn btn-success ms-2" type="submit" name="formUpdate">
                                                Atualizar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <label class="form-label">Observações:</label>
                                    <p class="accordion-observacao">{{ servico.descricao }}</p>
                                </div>
                            </div>

                            <!-- Tabela de tarefas relacionadas -->
                            <div class="mb-4">
                                <label class="form-label">Tarefas relacionadas:</label>
                                <div class="d-flex align-items-center justify-content-start">
                                    <table class="table"
                                        style="border-collapse: collapse; border: 1px solid var(--cinza); border-radius: 12px; overflow: hidden;">
                                        <thead style="background-color: var(--cinza-clarinho); border-radius: 12px;">
                                            <tr
                                                style="border: 1px solid var(--cinza); font-size: 12px; text-transform: uppercase; text-align: left; font-weight: 700;">
                                                <th scope="col" style="padding: 8px; border-right: 1px solid var(--cinza); width: 20%;">
                                                    Técnico
                                                </th>
                                                <th scope="col" style="padding: 8px; border-right: 1px solid var(--cinza); width: 40%;">
                                                    Descrição da Tarefa
                                                </th>
                                                <th scope="col" style="padding: 8px; width: 20%;">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for tarefa in servico.tarefas.all %}
                                            <tr style="border-bottom: 1px solid var(--cinza);">
                                                <td
                                                    style="padding: 8px; border-right: 1px solid var(--cinza); font-size: 14px;">
                                                    {{ tarefa.profile }}
                                                </td>
                                                <td
                                                    style="padding: 8px; font-size: 14px; border-right: 1px solid var(--cinza);">
                                                    {{ tarefa.descricao }}
                                                </td>
                                                <td style="padding: 8px; font-size: 14px;">
                                                    {{ tarefa.get_status_display }}
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="3" style="padding: 8px; text-align: center;">
                                                    Nenhuma tarefa relacionada.
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <a href="{% url 'tarefas' servico.id %}" class="btn button py-2" target="_blank">Nova tarefa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for servico in servicos_em_andamento %}
    <div class="px-5 servicos_em_andamento" style="display: none;">
        <div class="accordion mb-1" id="accordion-{{ servico.id }}">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-{{ servico.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-{{ servico.id }}" aria-expanded="false"
                        aria-controls="collapse-{{ servico.id }}">
                        <div class="acordeao d-flex" style="width: 100%;">
                            <div class="accordion-header-items flex-grow-1 d-flex justify-content-center align-items-center" style="border: none; width: 2.5%;">
                                <p style="font-size: 14px; ">{{ servico.ordem_servico.id }}</p>  
                            </div>
                            <div class="accordion-header-items flex-grow-2 d-flex justify-content-center align-items-center" style="border: none; width: 50%;">
                                <p style="font-size: 14px; font-weight: 400;">{{ servico.ordem_servico.cliente.nome|truncatechars:45 }}</p>  
                            </div>
                            <div class="accordion-header-items flex-grow-1 d-flex justify-content-center align-items-center" style="border: none; width: 30%;">
                                <p style="font-size: 14px; font-weight: 400;">{{ servico.repositorio|truncatechars:30 }}</p>                     
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="collapse-{{ servico.id }}" class="accordion-collapse collapse"
                    aria-labelledby="heading-{{ servico.id }}" data-bs-parent="#accordion-{{ servico.id }}">

                    <div class="accordion-body">

                        <div class="accordion-infos">
                            <div class="row mb-4 mb-2">

                                <div class="row">
                                    <div class="col-md-8">
                                        <label class="form-label">Cliente:</label>
                                        <p>{{ servico.ordem_servico.cliente.nome|truncatechars:80 }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Número da inscrição:</label>
                                        <p>{{ servico.ordem_servico.cliente.numero_inscricao }}</p>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Nome do representante:</label>
                                        <p>{{ servico.ordem_servico.cliente.nome_representante|default_if_none:"Não cadastrado" }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Contato:</label>
                                        <p>{{ servico.ordem_servico.cliente.contato_representante|default_if_none:"Não cadastrado" }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">E-mail:</label>
                                        <p>{{ servico.ordem_servico.cliente.email_representante|default_if_none:"Não cadastrado" }}</p>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Serviço:</label>
                                        <p>{{ servico.repositorio|truncatechars:35 }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Valor:</label>
                                        <p> R$ {{ servico.ordem_servico.valor }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Data de recebimento:</label>
                                        <p>{{ servico.ordem_servico.data_criacao|date:"d/m/Y" }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <label class="form-label">Observações:</label>
                                    <p class="accordion-observacao">{{ servico.descricao }}</p>
                                </div>
                            </div>

                            <!-- Tabela de tarefas relacionadas -->
                            <div class="mb-4">
                                <label class="form-label">Tarefas relacionadas:</label>
                                <div class="d-flex align-items-center justify-content-start">
                                    <table class="table"
                                        style="border-collapse: collapse; border: 1px solid var(--cinza); border-radius: 12px; overflow: hidden;">
                                        <thead style="background-color: var(--cinza-clarinho); border-radius: 12px;">
                                            <tr
                                                style="border: 1px solid var(--cinza); font-size: 12px; text-transform: uppercase; text-align: left; font-weight: 700;">
                                                <th scope="col" style="padding: 8px; border-right: 1px solid var(--cinza); width: 20%;">
                                                    Técnico
                                                </th>
                                                <th scope="col" style="padding: 8px; border-right: 1px solid var(--cinza); width: 40%;">
                                                    Descrição da Tarefa
                                                </th>
                                                <th scope="col" style="padding: 8px; width: 20%;">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for tarefa in servico.tarefas.all %}
                                            <tr style="border-bottom: 1px solid var(--cinza);">
                                                <td
                                                    style="padding: 8px; border-right: 1px solid var(--cinza); font-size: 14px;">
                                                    {{ tarefa.profile }}
                                                </td>
                                                <td
                                                    style="padding: 8px; font-size: 14px; border-right: 1px solid var(--cinza);">
                                                    {{ tarefa.descricao }}
                                                </td>
                                                <td style="padding: 8px; font-size: 14px;">
                                                    {{ tarefa.get_status_display }}
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="3" style="padding: 8px; text-align: center;">
                                                    Nenhuma tarefa relacionada.
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <a href="{% url 'tarefas' servico.id %}" class="btn button py-2" target="_blank">Nova tarefa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for servico in servicos_para_finalizar %}
    <div class="px-5 servicos_para_finalizar" style="display: none;">
        <div class="accordion mb-1" id="accordion-{{ servico.id }}">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-{{ servico.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-{{ servico.id }}" aria-expanded="false"
                        aria-controls="collapse-{{ servico.id }}">
                        <div class="acordeao d-flex" style="width: 100%;">
                            <div class="accordion-header-items flex-grow-1 d-flex justify-content-center align-items-center" style="border: none; width: 2.5%;">
                                <p style="font-size: 14px; ">{{ servico.ordem_servico.id }}</p>  
                            </div>
                            <div class="accordion-header-items flex-grow-2 d-flex justify-content-center align-items-center" style="border: none; width: 50%;">
                                <p style="font-size: 14px; font-weight: 400;">{{ servico.ordem_servico.cliente.nome|truncatechars:45 }}</p>  
                            </div>
                            <div class="accordion-header-items flex-grow-1 d-flex justify-content-center align-items-center" style="border: none; width: 30%;">
                                <p style="font-size: 14px; font-weight: 400;">{{ servico.repositorio|truncatechars:30 }}</p>                     
                            </div>
                        </div>
                    </button>
                </h2>

                <div id="collapse-{{ servico.id }}" class="accordion-collapse collapse"
                    aria-labelledby="heading-{{ servico.id }}" data-bs-parent="#accordion-{{ servico.id }}">
                    <div class="accordion-body">
                        <div class="accordion-infos">
                            <div class="row mb-4 mb-2">

                                <div class="row">
                                    <div class="col-md-8">
                                        <label class="form-label">Cliente:</label>
                                        <p>{{ servico.ordem_servico.cliente.nome|truncatechars:80 }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Número da inscrição:</label>
                                        <p>{{ servico.ordem_servico.cliente.numero_inscricao }}</p>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Nome do representante:</label>
                                        <p>{{ servico.ordem_servico.cliente.nome_representante|default_if_none:"Não cadastrado" }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Contato:</label>
                                        <p>{{ servico.ordem_servico.cliente.contato_representante|default_if_none:"Não cadastrado" }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">E-mail:</label>
                                        <p>{{ servico.ordem_servico.cliente.email_representante|default_if_none:"Não cadastrado" }}</p>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Serviço:</label>
                                        <p>{{ servico.repositorio|truncatechars:35 }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Valor:</label>
                                        <p> R$ {{ servico.ordem_servico.valor }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Data de recebimento:</label>
                                        <p>{{ servico.ordem_servico.data_criacao|date:"d/m/Y" }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4 mb-2"> 
                                <!-- Formulário de atualização de serviço -->
                                <form method="post" class="d-flex align-items-center">
                                    {% csrf_token %}
                                    <input type="hidden" name="servico_id" value="{{ servico.id }}">
                                
                                    <!-- Campo de status -->
                                    <div class="form-group me-2 col-md-3">
                                        <label for="{{ formUpdate.status.id_for_label }}" class="mb-2">Status:</label>
                                        <select name="status" id="id_status" class="form-select w-100 p-2">
                                            <option value="nao_iniciado" {% if servico.status == 'nao_iniciado' %}selected{% endif %}>NÃO INICIADO</option>
                                            <option value="em_andamento" {% if servico.status == 'em_andamento' %}selected{% endif %}>EM ANDAMENTO</option>
                                            <option value="concluida" {% if servico.status == 'concluida' %}selected{% endif %}>CONCLUÍDA</option>
                                        </select>
                                
                                    </div>
                                
                                    <!-- Campo de data de conclusão -->
                                    <div class="form-group me-2 col-md-2">
                                        <label for="{{ formUpdate.data_conclusao.id_for_label }}" class="mb-2">Data de
                                            Conclusão:</label>
                                        <input type="date" name="data_conclusao" id="id_data_conclusao"
                                            class="form-control w-100 p-2" value="{{ servico.data_conclusao|date:" Y-m-d" }}">
                                    </div>
                                
                                    <!-- Botão de atualização -->
                                    <div class="form-group" style="margin-top: 22px;">
                                        <button class="btn btn-success" type="submit" name="formUpdate">
                                            Atualizar
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <label class="form-label">Observações:</label>
                                    <p class="accordion-observacao">{{ servico.descricao }}</p>
                                </div>
                            </div>

                            <!-- Tabela de tarefas relacionadas -->
                            <div class="mb-4">
                                <label class="form-label">Tarefas relacionadas:</label>
                                <div class="d-flex align-items-center justify-content-start">
                                    <table class="table"
                                        style="border-collapse: collapse; border: 1px solid var(--cinza); border-radius: 12px; overflow: hidden;">
                                        <thead style="background-color: var(--cinza-clarinho); border-radius: 12px;">
                                            <tr
                                                style="border: 1px solid var(--cinza); font-size: 12px; text-transform: uppercase; text-align: left; font-weight: 700;">
                                                <th scope="col" style="padding: 8px; border-right: 1px solid var(--cinza); width: 20%;">
                                                    Técnico
                                                </th>
                                                <th scope="col" style="padding: 8px; border-right: 1px solid var(--cinza); width: 40%;">
                                                    Descrição da Tarefa
                                                </th>
                                                <th scope="col" style="padding: 8px; width: 20%;">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for tarefa in servico.tarefas.all %}
                                            <tr style="border-bottom: 1px solid var(--cinza);">
                                                <td
                                                    style="padding: 8px; border-right: 1px solid var(--cinza); font-size: 14px;">
                                                    {{ tarefa.profile }}
                                                </td>
                                                <td
                                                    style="padding: 8px; font-size: 14px; border-right: 1px solid var(--cinza);">
                                                    {{ tarefa.descricao }}
                                                </td>
                                                <td style="padding: 8px; font-size: 14px;">
                                                    {{ tarefa.get_status_display }}
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="3" style="padding: 8px; text-align: center;">
                                                    Nenhuma tarefa relacionada.
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'tarefas' servico.id %}" class="btn button py-2" target="_blank">Nova tarefa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for servico in servicos_finalizados %}
    <div class="px-5 para_faturar" style="display: none;">

        <div class="accordion mb-1" id="accordion-{{ servico.id }}">

            <div class="accordion-item">

                <h2 class="accordion-header" id="heading-{{ servico.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-{{ servico.id }}" aria-expanded="false"
                        aria-controls="collapse-{{ servico.id }}">

                        <div class="acordeao d-flex" style="width: 100%;">
                            <div class="accordion-header-items flex-grow-1 d-flex justify-content-center align-items-center" style="border: none; width: 2.5%;">
                                <p style="font-size: 14px; ">{{ servico.ordem_servico.id }}</p>  
                            </div>
                            <div class="accordion-header-items flex-grow-2 d-flex justify-content-center align-items-center" style="border: none; width: 50%;">
                                <p style="font-size: 14px; font-weight: 400;">{{ servico.ordem_servico.cliente.nome|truncatechars:45 }}</p>  
                            </div>
                            <div class="accordion-header-items flex-grow-1 d-flex justify-content-center align-items-center" style="border: none; width: 30%;">
                                <p style="font-size: 14px; font-weight: 400;">{{ servico.repositorio|truncatechars:30 }}</p>                     
                            </div>
                        </div>

                    </button>
                </h2>

                <div id="collapse-{{ servico.id }}" class="accordion-collapse collapse"
                    aria-labelledby="heading-{{ servico.id }}" data-bs-parent="#accordion-{{ servico.id }}">

                    <div class="accordion-body">

                        <div class="accordion-infos">

                            <div class="row">
                                <div class="col-md-8">
                                    <label class="form-label">Cliente:</label>
                                    <p>{{ servico.ordem_servico.cliente.nome|truncatechars:80 }}</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Número da inscrição:</label>
                                    <p>{{ servico.ordem_servico.cliente.numero_inscricao }}</p>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <label class="form-label">Nome do representante:</label>
                                    <p>{{ servico.ordem_servico.cliente.nome_representante|default_if_none:"Não cadastrado" }}</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Contato:</label>
                                    <p>{{ servico.ordem_servico.cliente.contato_representante|default_if_none:"Não cadastrado" }}</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">E-mail:</label>
                                    <p>{{ servico.ordem_servico.cliente.email_representante|default_if_none:"Não cadastrado" }}</p>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <label class="form-label">Serviço:</label>
                                    <p>{{ servico.repositorio|truncatechars:35 }}</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Valor:</label>
                                    <p> R$ {{ servico.ordem_servico.valor }}</p>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Data de recebimento:</label>
                                    <p>{{ servico.ordem_servico.data_criacao|date:"d/m/Y" }}</p>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <label class="form-label">Status:</label>
                                    <p>{{ servico.get_status_display }}</p>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <label class="form-label">Observações:</label>
                                    <p class="accordion-observacao">{{ servico.descricao }}</p>
                                </div>
                            </div>

                            <!-- Tabela de tarefas relacionadas -->
                            <div class="mt-3">
                                <label class="form-label">Tarefas relacionadas:</label>
                                <table class="table" style="border-collapse: collapse;
                                border: 1px solid var(--cinza);
                                border-radius: 12px;
                                width: 100%;
                                overflow: hidden;">

                                    <thead style="background-color: var(--cinza-clarinho);
                                    border-radius: 12px;">

                                        <tr style="border: 1px solid var(--cinza);
                                    font-size: 12px;
                                    text-transform: uppercase;
                                    text-align: left; font-weight: 700;">
                                            <th scope="col" style="padding: 8px; border-right: 1px solid var(--cinza);">
                                                Nome do Colaborador</th>
                                            <th scope="col" style="padding: 8px; border-right: 1px solid var(--cinza);">
                                                Descrição da Tarefa</th>
                                            <th scope="col" style="padding: 8px; width: 15%;">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for tarefa in servico.tarefas.all %}
                                        <tr style="border-bottom: 1px solid var(--cinza);">
                                            <td
                                                style="padding: 8px; border-right: 1px solid var(--cinza); width: 25%; font-size: 14px;">
                                                {{ tarefa.profile }}
                                            </td>
                                            <td
                                                style="padding: 8px; font-size: 14px; border-right: 1px solid var(--cinza);">
                                                {{ tarefa.descricao }}
                                            </td>
                                            <td style="padding: 8px; font-size: 14px;">
                                                {{ tarefa.get_status_display }}
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="2" style="padding: 8px; text-align: center;">Nenhuma tarefa
                                                relacionada.</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% endblock %}

    {% block scripts %}

    <script>
        // script.js
        document.addEventListener('DOMContentLoaded', function () {
            const searchInput = document.getElementById('searchInput');
            const accordionItems = document.querySelectorAll('.accordion-item');

            searchInput.addEventListener('input', function () {
                const searchTerm = searchInput.value.toLowerCase();

                accordionItems.forEach(item => {
                    const header = item.querySelector('.accordion-header').textContent.toLowerCase();
                    if (header.includes(searchTerm)) {
                        item.style.display = 'block';
                    } else {
                        item.style.display = 'none';
                    }
                });
            });

            // Código para mostrar/esconder o conteúdo do accordion
            document.querySelectorAll('.accordion-header').forEach(header => {
                header.addEventListener('click', function () {
                    const body = this.nextElementSibling;
                    body.style.display = (body.style.display === 'block') ? 'none' : 'block';
                });
            });
        });

    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Obtém referências para os botões
            const btnNovosServicos = document.getElementById('novos_servicos');
            const btnEmAndamento = document.getElementById('em_andamento');
            const btnParaFinalizar = document.getElementById('para_finalizar');
            const btnFinalizados = document.getElementById('finalizados');

            // Obtém referências para os elementos a serem exibidos/ocultados
            const novosServicos = document.getElementsByClassName('novos_servicos');
            const servicosEmAndamento = document.getElementsByClassName('servicos_em_andamento');
            const servicosParaFinalizar = document.getElementsByClassName('servicos_para_finalizar');
            const paraFaturar = document.getElementsByClassName('para_faturar');

            function setElement(btn, elementsToShow, elementsToHide1, elementsToHide2, elementsToHide3) {
                btn.addEventListener('click', function () {
                    // Oculta os elementos que não devem ser exibidos
                    hideElements(elementsToHide1);
                    hideElements(elementsToHide2);
                    hideElements(elementsToHide3);

                    // Mostra os elementos desejados
                    showElements(elementsToShow);
                });
            }

            function hideElements(elements) {
                for (let elem of elements) {
                    elem.style.display = 'none';
                }
            }

            function showElements(elements) {
                for (let elem of elements) {
                    elem.style.display = 'block';
                }
            }

            // Configura os eventos de clique para cada botão
            setElement(btnNovosServicos, novosServicos, servicosEmAndamento, servicosParaFinalizar, paraFaturar);
            setElement(btnEmAndamento, servicosEmAndamento, novosServicos, servicosParaFinalizar, paraFaturar);
            setElement(btnParaFinalizar, servicosParaFinalizar, novosServicos, servicosEmAndamento, paraFaturar);
            setElement(btnFinalizados, paraFaturar, novosServicos, servicosEmAndamento, servicosParaFinalizar);

            // Adiciona a funcionalidade para destacar o botão ativo
            document.querySelectorAll('button[id^="novos_servicos"], button[id^="em_andamento"], button[id^="para_finalizar"], button[id^="finalizados"]').forEach(btn => {
                btn.addEventListener('click', function () {
                    document.querySelectorAll('button').forEach(b => b.classList.remove('active'));
                    this.classList.add('active');
                });
            });
        });

    </script>
    {% endblock %}