{% extends 'ordemServico/base.html' %}
{% load static %}
{% block title %} Monitoramento Financeiro {% endblock %}
{% block style %}
<style>
    .giant-card {
        width: 90%;
        /* Ocupa 90% da largura da tela */
        min-height: 50vh;
        /* Altura mínima de 50% da viewport */
        margin-left: 0;
        /* Alinha o card à esquerda */
        border-radius: 15px;
        /* Deixa as bordas arredondadas */
        background-color: #f8f9fa;
        /* Cor de fundo clara */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        /* Sombra suave */
    }

    .giant-card-body {
        padding: 30px;
    }

    .giant-card-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .giant-card-text {
        font-size: 1.2rem;
    }
</style>
{% endblock %}

{% block content %}
<div class="content page-title mb-5" style="min-height: 80vh;">

    <h3 class="fs-5 ms-5 mb-4">
        <i class="bi bi-graph-up" style="margin-right: 4px;"></i>
        Monitor financeiro
    </h3>

    <div class="d-flex justify-content-left ms-5">
        <!-- Card 1: Futuros Faturamentos -->
        <div class="me-5">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title">Faturamentos previstos</h5>
                    <p class="card-text">
                        <span>Valor:</span> R$ {{ valor_total_futuros_faturamentos }}
                    </p>
                    <p class="card-text">
                        <span>Qtd OS:</span> {{ contagem_futuros_faturamentos }}
                    </p>
                </div>
            </div>
        </div>

        <!-- Card 2: Já Faturados -->
        <div class="">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title">Faturamentos previstos</h5>
                    <p class="card-text">
                        <span>Valor:</span> R$ 2.000.000,00
                    </p>
                    <p class="card-text">
                        <span>Qtd OS:</span> 189
                    </p>
                </div>
            </div>
        </div>
    </div>

    
</div>
{% endblock %}
