{% extends 'ordemServico/base.html' %}
{% load static %}
{% block title %}Detalhes do Serviço{% endblock %}

{% block content %}

<div class="content page-title px-5">
    <h3 class="fs-5 mb-4">
        <i class="fa-solid fa-info-circle"></i> Informações do serviço
    </h3>

    <div class="alert alert-info alert-dismissible fade show" role="alert" style="margin-top: 15px;">
        <strong style="font-weight: 700;">Atenção:</strong>
        O valor exibido aqui não necessariamente diz respeito a este serviço apenas, mas ao conjunto de serviços que
        podem ou não estar relacionados em uma ordem de serviço.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>

    <div class="row">
        <!-- Cliente -->
        <div class="col-md-6">
            <strong style="font-weight: 500;">Cliente:</strong>
            <div style="border: 1px solid #ccc; border-radius: 12px; padding: 10px; margin-top: 5px;">
                {{ servico.ordem_servico.cliente.nome|truncatechars:20 }}
            </div>
        </div>

        <!-- Valor -->
        <div class="col-md-2">
            <strong style="font-weight: 500;">Valor:</strong>
            <div style="border: 1px solid #ccc; border-radius: 12px; padding: 10px; margin-top: 5px;">
                {{ servico.ordem_servico.valor_formatado }}
            </div>
        </div>

        <!-- ID da Ordem de Serviço -->
        <div class="col-md-2">
            <strong style="font-weight: 500;">ID da Ordem de Serviço:</strong>
            <div style="border: 1px solid #ccc; border-radius: 12px; padding: 10px; margin-top: 5px;">
                {{ servico.ordem_servico.id }}
            </div>
        </div>
        
    </div>


    <!-- Exibição dos detalhes substituindo a <ul> -->
    <div class="row mt-4">
        <!-- Serviço -->
        <div class="col-md-6">
            <strong style="font-weight: 500;">Serviço:</strong>
            <div style="border: 1px solid #ccc; border-radius: 12px; padding: 10px; margin-top: 5px;">
                {{ servico.repositorio.nome }}
            </div>
        </div>
        <!-- Status -->
        <div class="col-md-4">
            <strong style="font-weight: 500;">Status:</strong>
            <div style="border: 1px solid #ccc; border-radius: 12px; padding: 10px; margin-top: 5px;">
                {{ servico.get_status_display }}
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Data de Recebimento -->
        <div class="col-md-3">
            <strong style="font-weight: 500;">Data do Recebimento:</strong>
            <div style="border: 1px solid #ccc; border-radius: 12px; padding: 10px; margin-top: 5px;">
                {{ servico.ordem_servico.data_criacao|date:"d/m/Y" }}
            </div>
        </div>

        <!-- Data da Conclusão -->
        <div class="col-md-3">
            <strong style="font-weight: 500;">Data da Conclusão:</strong>
            <div style="border: 1px solid #ccc; border-radius: 12px; padding: 10px; margin-top: 5px;">
                {% if servico.data_conclusao %}
                {{ servico.data_conclusao|date:"d/m/Y" }}
                {% else %}
                NÃO CONCLUÍDO
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Descrição -->
    <div class="mb-3 mt-4">
        <strong style="color: #000; font-weight: 700;">Descrição:</strong>
        <div
            style="border: 1px solid #ccc; border-radius: 12px; padding: 10px; max-height: 200px; overflow-y: auto; color: #000; margin-top: 5px; line-height: 1.6;">
            {{ servico.descricao }}
        </div>
    </div>

</div>

{% endblock %}