{% extends 'ordemServico/base.html' %}
{% load static %}
{% block title %}Editar Perfil{% endblock %}

{% block content %}

<div class="content page-title px-5">
    <h3 class="fs-5 mb-4">
        <i class="fa-solid fa-user-edit"></i> Olá, {{ user.username }}!
    </h3>

    <!-- Formulário unificado para editar o e-mail e a senha -->
    <form class=" me-5 mb-5" method="POST">
        {% csrf_token %}

        <!-- Exibir erros do formulário -->
        {% if user_form.errors or password_form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field in user_form %}
                {% for error in field.errors %}
                <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
                {% endfor %}
                {% for field in password_form %}
                {% for error in field.errors %}
                <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Campo para editar o e-mail -->
        <div class="form-group mb-3">
            <label for="email">{{ user_form.email.label }}</label>
            <input type="email" class="form-control" id="email" name="{{ user_form.email.name }}"
                value="{{ user_form.email.value }}">
        </div>

        <!-- Instruções de senha -->
        <div class="alert alert-info">
            <strong>Instruções:</strong> Sua senha deve conter pelo menos 8 caracteres, incluir letras maiúsculas e
            minúsculas, números e caracteres especiais.
        </div>

        <!-- Campos para alterar a senha -->
        <div class="form-group mb-3">
            <label for="old_password">{{ password_form.old_password.label }}</label>
            <input type="password" class="form-control" id="old_password" name="{{ password_form.old_password.name }}"
                value="{{ password_form.old_password.value }}">
        </div>

        <div class="form-group mb-3">
            <label for="new_password1">{{ password_form.new_password1.label }}</label>
            <input type="password" class="form-control" id="new_password1" name="{{ password_form.new_password1.name }}"
                value="{{ password_form.new_password1.value }}">
        </div>

        <div class="form-group mb-3">
            <label for="new_password2">{{ password_form.new_password2.label }}</label>
            <input type="password" class="form-control" id="new_password2" name="{{ password_form.new_password2.name }}"
                value="{{ password_form.new_password2.value }}">
        </div>

        <!-- Botão de submissão unificado -->
        <button type="submit" class="btn button py-2 px-4">Salvar Alterações</button>
    </form>
</div>

{% endblock %}